<br />
<div class="booyah-box col-10 offset-1 text-center">
	<h1>Punt or Pick</h1>
<div id='uncheck'>
  <input type="radio" name='food' id="box0" checked />
  <input type="radio" name='food' id="box1" /> 
  Team 1
    <label for='box1'>&#9678;</label> 
    <label for='box0'>&#9673;</label>
  <input type="radio" name='food' id="box2" /> 
  Team 2
    <label for='box2'>&#9678;</label> 
    <label for='box0'>&#9673;</label>
</div>

