<br />
<div class="booyah-box col-10 offset-1 text-center">
	<h1>Group Picks</h1>
	<section class="col-a">
		<table class="type_entries">
			<thead>
				<tbody>
					<th class="rank"></th>
					<th class="entryowner">
						<span class="full">Entry, Owner</span>
					</th>
				</tbody>
			</thead>
		</table>
	</section>
	<button type="button" class="button autoPick button-alt">
		<div class="icon spinner_dashes loadingImg"></div>
		<span>::before"Punt My Picks"</span>

</div>
