<br />
<div class="booyah-box col-10 offset-1 text-center">
	<h1>Punt or Pick</h1>

	<a1>Matchup</a1>

<br />

<%= link_to 'Punt My Picks', picks_path, class: 'btn btn-success' %>
<br />

<table class="pickemTable base auto noSwipe">
	<thead>
		<tr>

		<div id='pickem-pick'>
	 	 <a2>Team 1</a2>
  		<input type="radio" name='team' id="box0" checked />
		</div>
	</tr>
</thead>
<br />
<tr>
	<div id='pickem-pick'>
		<a2>Team 2</a2>
		<input type="radio" name='team' id="box0" checked />
  </div>
</thead>
  <br />
  
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>jQuery Submit Form</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
$(document).ready(function(){
    $("#submitBtn").click(function(){        
        $("#myForm").submit(); // Submit the form
    });
});
</script>
</head>
<body>
    <form action="/examples/html/action.php" method="post" id="myForm">
        
        
        <button class="btn btn-success" id="submitBtn">Submit My Picks</button>
    </form>
</body>
</html>                     
	<br />

	<% @new_picks.each do |pick| %>
		<% simple_form_for(pick, remote: true) do |f| %>
			<%= f.input :team, as: :radio_buttons, collection: [pick.game.home_team, pick.game.away_team] %>
		<% end %>
	<% end %>


</div>

