<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Punters and Pickers</h1>
		<br />
		<h2>Make Your Picks</h2>
		<br />
		<%= link_to 'Picks', '#', class: 'btn btn-success' %>
		<br /><br />
	</div>
</div>

		
		
