<br />
<div class="booyah-box col-10 offset-1 text-center">
	<h1>Punt or Pick</h1>
<br />

<%= link_to 'Punt My Picks', new_create_path, class: 'btn btn-success' %>
<br />

	<div id='pickem-pick'>
	  <a>Team 1</a>
  	<input type="radio" name='team' id="box0" checked />
	</div>
<br />
	<div id='pickem-pick'>
		<a>Team 2</a>
		<input type="radio" name='team' id="box0" checked />
  </div>
  <br />
  
		<%= link_to 'Save Picks', new_create_path, class: 'btn btn-success' %>
	<br />

	<% @new_picks.each do |pick| %>
		<% simple_form_for(pick) do |f| %>
			<%= f.input :team, as: :radio_buttons, collection: [pick.game.home_team, pick.game.away_team] %>
			<%= f.button :submit %>
		<% end %>
	<% end %>


</div>

