@import "bootstrap";

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

.navbar {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	box-shadow: 0px 1px 3px #2a2a2a;
	background: image_url('grey_wash_wall.png');
}

.navbar-inverse a.navbar-brand {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	color: white;
}

.collapse navbar-collapse a.navbarTogglerDemo02 {
color: #323434;
}

.hero {
	 background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 620px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1 {
	margin: 0;
	color: #FAFBF8;
}

h2, .navbar {
	margin: 0;
	color: #8F9595;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: #FAFBF8;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 400;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

body {
	background: image_url('grey_wash_wall.png');
}

.btn {
	color: #8F9595;
	background: #FAFBF8;  
}

