.hero {
	 background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 620px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1 {
	margin: 0;
	color: #8F9595;
	color-outline: #000000;
}

#uncheck>input { display: none }
input:checked + label { display: none }
input:not(:checked) + label + label{ display: none } 

#uncheck label {
  cursor: pointer; user-select: none;
}